version: "3.9"

services:
  nginx:
    container_name: container_nginx
    build: ./nginx
    image: container_nginx
    ports:
      - '443:443'
    networks:
      - backend
    restart: on-failure
    volumes:
      - wp:/var/www/html
    depends_on:
      - wordpress
      - mariadb
  wordpress:
    container_name: container_wordpress
    build:
      context: ./wordpress
      args:
        db_name: "${DB_NAME}"
        db_user: "${DB_USER}"
        db_password: "${DB_PASSWORD}"
        db_host: "${DB_HOST}"
    image: container_wordpress
    ports:
      - '9000'
    networks:
      - backend
    restart: on-failure
    volumes:
      - wp:/var/www/html
    depends_on:
      - mariadb
  mariadb:
    container_name: container_mariadb
    build:
      context: ./mariadb
    image: container_mariadb
    ports:
      - '3306'
    networks:
      - backend
    env_file:
      - .env
    restart: on-failure
    volumes:
      - db:/var/lib/mysql

networks:
  backend:
    driver: bridge

volumes:
  db:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/anclarma/data/db"
  wp:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/anclarma/data/wp"
