version: "3.9"

services:
  nginx:
    build: ./nginx
    ports:
      - '8080:80'
      - '8081:443'
      # - '443:443'
    networks:
      - backend
    restart: on-failure
    volumes:
      - wp:/var/www/html
  wordpress:
    build:
      context: ./wordpress
      args:
        test: "${TEST}"
    ports:
      - '9000'
    networks:
      - backend
    restart: on-failure
    env_file:
      - .env
    volumes:
      - wp:/var/www/html
  mariadb:
    build: ./mariadb
    ports:
      - '3306'
    networks:
      - backend
    restart: on-failure
    env_file:
      - .env
    volumes:
      - db:/var/lib/mysql

networks:
  backend:
    driver: bridge

volumes:
  db:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/anclarma/data/db"
  wp:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "/home/anclarma/data/wp"
